In [9]:
%pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv("user_followers_following_cached.csv")

In [12]:
df.head()

,user_id,bio,gender,country_id,state_id,city_id,following,followers,interest_categories,connections,updated_at
0,1,NaN,male,161.0,306.0,77002.0,"1, 78, 426, 584, 726, 743","1, 66, 78, 114, 171, 528, 584, 705","Car Enthusiasts, Music and Instrumental, Web D...","1, 78, 426, 584, 726, 743, 1, 66, 78, 114, 171...",2025-02-05 14:57:05
1,2,NaN,NaN,NaN,NaN,NaN,NaN,"66, 584",NaN,"66, 584",2025-01-09 09:23:32
2,3,NaN,male,161.0,306.0,76932.0,NaN,470,NaN,470,2025-01-09 09:23:32
3,4,NaN,NaN,NaN,NaN,NaN,NaN,"66, 171",NaN,"66, 171",2025-01-09 09:23:32
4,7,Why am I not yet a fucking Genius?,male,161.0,306.0,1.0,"49, 66, 75","75, 79, 81, 90, 91, 93, 97, 98, 102, 114, 133,...",Visual Arts,"49, 66, 75, 75, 79, 81, 90, 91, 93, 97, 98, 10...",2025-01-09 09:23:32

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              287 non-null    int64
 1   bio                  49 non-null     object
 2   gender               251 non-null    object
 3   country_id           251 non-null    float64
 4   state_id             251 non-null    float64
 5   city_id              251 non-null    float64
 6   following            250 non-null    object
 7   followers            234 non-null    object
 8   interest_categories  243 non-null    object
 9   connections          287 non-null    object
 10  updated_at           287 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 24.8+ KB